<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (produit(); as produitRef) {
      <div>
        <h2 data-cy="produitDetailsHeading"><span jhiTranslate="gateway2App.service1Produit.detail.title">Produit</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ produitRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gateway2App.service1Produit.libelle">Libelle</span></dt>
          <dd>
            <span>{{ produitRef.libelle }}</span>
          </dd>
          <dt><span jhiTranslate="gateway2App.service1Produit.quantite">Quantite</span></dt>
          <dd>
            <span>{{ produitRef.quantite }}</span>
          </dd>
          <dt><span jhiTranslate="gateway2App.service1Produit.price">Price</span></dt>
          <dd>
            <span>{{ produitRef.price }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/produit', produitRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
