<div>
  <h2 id="page-heading" data-cy="ProduitHeading">
    <span jhiTranslate="gateway2App.service1Produit.home.title">Produits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gateway2App.service1Produit.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-produit"
        [routerLink]="['/produit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gateway2App.service1Produit.home.createLabel">Créer un nouveau Produit</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (produits().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gateway2App.service1Produit.home.notFound">Aucun Produit trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="libelle">
              <div class="d-flex">
                <span jhiTranslate="gateway2App.service1Produit.libelle">Libelle</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantite">
              <div class="d-flex">
                <span jhiTranslate="gateway2App.service1Produit.quantite">Quantite</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="price">
              <div class="d-flex">
                <span jhiTranslate="gateway2App.service1Produit.price">Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (produit of produits(); track trackId(produit)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/produit', produit.id, 'view']">{{ produit.id }}</a>
              </td>
              <td>{{ produit.libelle }}</td>
              <td>{{ produit.quantite }}</td>
              <td>{{ produit.price }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/produit', produit.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(produit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
